[loggers]
keys=root,wiktionaryLogger

[handlers]
keys=fileHandler

[formatters]
keys=preciseFormatter

[logger_root]
level=DEBUG
handlers=fileHandler

[logger_wiktionaryLogger]
level=DEBUG
handlers=fileHanlder
qualname=wiktionaryLogger
propagate=0

[handler_fileHandler]
class=FileHandler
level=INFO
formatter=preciseFormatter
args='wiktionaryLog.log'

[formatter_preciseFormatter]
format='%(asctime) - %(name)s - %(levelname)s - %(process)d - %(processName)s'



